{
  "extends": ["eslint:recommended"],
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "rules": {
    "quotes": ["error", "double", { "allowTemplateLiterals": true }],
    "strict": 2
  }
}
